APP_ENV=dev
LOG_LEVEL=INFO

DATA_DIR=media_analysis_app/data
ARTIFACTS_DIR=media_analysis_app/artifacts

REQUEST_TIMEOUT=20
USER_AGENT=media-analysis-bot/1.0
USE_PLAYWRIGHT=false
MAX_URLS=20

SPACY_MODEL=es_core_news_md
ENABLE_GRADIO=false
